<div class="row">

    <div class="searchbox">
        <input type="text" id="location-search" (input)="onSubmit($event)" placeholder="Paste a Youtube video URL here"
            class="form-control">
        <button (click)="searchForVideo()">Search</button>
    </div>




    <div class="column" *ngIf="buttonClicked">
        <div class="image">
            <img id="showImage" *ngIf="buttonClicked" src="{{image}}" alt="">
        </div>

        
        <div class="title">
            <p id="showViews" *ngIf="buttonClicked">Video Name: {{title}}</p>

        <!--download button -->
            <div class="row-download">
                <button (click)="downloadVideo()" style="background-color: #4CAF50;">Download</button>
            </div>
        <!--download button -->
        </div>
    </div>





</div>