input,
button {
    border: solid 1px #555B6E;
    border-radius: 2px;
    display: inline-block;
    padding: 0;
}

input {
    width: 400px;
    height: 40px;
    border-radius: 2px 0 0 2px;
    color: #888c9c;
    border: solid 1px #888c9c;
    padding: 0 5px 0 10px;
}

button {
    width: 70px;
    height: 42px;
    background-color: #4468e8;
    color: white;
    border: solid 1px #4468e8;
    border-radius: 0 2px 2px 0;
}


#terminal {
    width: 50%;
    margin: 0 auto;
}

button:hover {
    color: darkkhaki;
    text-decoration: none;
    cursor: pointer;
}




.row {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.searchbox {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.column {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 460px;

}

.image{
    width: 100px;
    height: 100px;
}

#showImage {
    width: 100px;
    height: 100px;
}

.title {
    font-size: auto;
    color: black;
    padding: 10px;
}

